@model AspMvcSec.Models.User
@{
    ViewBag.Title = "Create";
}

<h2>Create user</h2>

<div class="row">
  <div class="col-md-8">
    @using (Html.BeginForm("Create","Users",FormMethod.Post))
    {
      @*@Html.AntiForgeryToken()*@
      <h4>Create new user.</h4>
      <hr />
      <div class="form-group">
        <label class="col-md-2 control-label">Name</label>
        <div class="col-md-10">
          @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
          @Html.ValidationMessageFor(m => m.Name, "", new {@class = "text-danger"})
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Login</label>
        <div class="col-md-10">
          @Html.TextBoxFor(m => m.Login, new {@class = "form-control"})
          @Html.ValidationMessageFor(m => m.Login, "", new {@class = "text-danger"})
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Email</label>
        <div class="col-md-10">
          @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
          @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Description</label>
        <div class="col-md-10">
          @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
          @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
        </div>
      </div>

      <input type="submit" value="OK" class="btn btn-wide" />
    }
  </div>
</div>

